.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform/staging/terraform.tfvars
terraform/NoR/.terraform.tfstate.*
docs/index.html

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug/
build

.vscode/sftp.json
.idea/
/3ty/proc-comm-lib-cwl/.idea/
out/
cmake-build-debug
cmake-build-release
notes


*.pyc
**.venv
*.idea/
config/kubeconfig
config/ades-config.env
.vscode/cache/ipch/8b05243847f50199/mmap_address.bin
.vscode/cache/ipch/8b05243847f50199/workflow_executor.ipch
config/ades-config-*.env
config/kubeconfig-*
.vscode
charts/ades/files/kubeconfig-*
charts/ades/values.cpe.terradue.yaml


charts/ades/values.eoepca-dev.terradue.yaml
work
