.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform/staging/terraform.tfvars
terraform/NoR/.terraform.tfstate.*
docs/index.html

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug/
build

.vscode/sftp.json
.idea/
/3ty/proc-comm-lib-cwl/.idea/
out/
cmake-build-debug
cmake-build-release
notes


*.pyc
**.venv
*.idea/
config/kubeconfig
config/ades-config.env

work
.vscode
charts/ades/files/kubeconfig-*
charts/ades/values.cpe.terradue.yaml
config/ades-config-*.env
config/kubeconfig-*
charts/ades/values.eoepca-dev.terradue.yaml
charts/ades/values.eoepca-ref.terradue.yaml
charts/ades/values.eoepca-ref.terradue.yaml
# workflow executor test not yet ready
3ty/workflow_executor/workflow_executor/workflow_executor/test
charts/ades/files/maincwlmetrics.cwl
*.pytest-kind
charts/ades/values.charter-acceptance.terradue.yaml
charts/ades/values.eoepca-creodias.yaml
t2regcred.yaml

workspace.code-workspace