[submodule "proc-ades.wiki"]
	path = proc-ades.wiki
	url = https://github.com/EOEPCA/proc-ades.wiki.git


; [submodule "terraform/NoR/inventory/cf2-kube"]
;     path = terraform/NoR/inventory/cf2-kube
;     url = https://github.com/EOEPCA/proc-ades.wiki.git
;     active = false
;
; [submodule "cf2-kube"]
;     path = terraform/NoR/inventory/cf2-kube
;     url = https://github.com/EOEPCA/proc-ades.wiki.git
;     active = false