# local absolute pas to config folder
LOCAL_ADES_CONFIG_PATH=/home/test/proc-ades/config
# this is already set to the volume configured in the docker file
KUBECONFIG=/var/etc/ades/kubeconfig

# This is the resource manager endpoint of the store used for processing results persistent storage (WebDAV)
STORAGE_HOST=store.example.com
# store username
STORAGE_USERNAME=mystoreusername
# store password
STORAGE_APIKEY=mystoreapikey
# kubernetes storage class to be used for provisioning volumes. Must be a persistent volume claim compliant (glusterfs-storage)
STORAGE_CLASS=standard
# Size of the Kubernetes Volumes in gigabytes
VOLUME_SIZE=4

# Max ram to use for a job
JOB_MAX_RAM: "4G"
# Max number of CPU cores to use concurrently for a job
JOB_MAX_CORES: "2"
# if true the Ades will clean the volume after the workflow has successfully finished running
JOB_AUTOCLEAN: "True"